{% extends "layout.html" %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<body>
    <div class="container">
        <h2 class="mt-5">Reset Your Password</h2>
        <!-- Show error message if current password is incorrect -->
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}

        <!-- Form to reset password -->
        <form action="{{ url_for('change_password', id=user.id) }}" method="POST" class="mt-4">
            <div class="mb-3">
                <label for="current_password" class="form-label">Current Password</label>
                <input type="password" class="form-control" id="current_password" name="current_password" required>
            </div>
            <!-- Password input field -->
            <div class="mb-3">
                <label for="new_password" class="form-label">New Password</label>
                <input type="password" class="form-control" id="new_password" name="new_password" required>
            </div>

            <!-- Confirm Password input field -->
            <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            </div>

            <!-- Error message if passwords don't match -->
            {% if passwords_mismatch %}
            <div class="alert alert-danger" role="alert">
                Passwords do not match. Please try again.
            </div>
            {% endif %}

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>

        <!-- Link to login page -->
        <p class="mt-3">
            <a href="{{ url_for('settings') }}">Return to Settiings</a>
        </p>
    </div>
</body>
{% endblock %}
